footer {
  width: 100%;
  padding: 1rem;

  background-color: #fff;

  .footer_content {
    display: flex;
    justify-content: center;
    align-items: center;

    .footer_title {
      font-size: 1rem;
      color: rgb(19, 45, 76);
    }
  }
}
