form {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5rem;
  background-color: #2f4156e8;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;

  input {
    width: 250px;

    padding: 0.8rem 1.7rem;
    margin-right: 0.5rem;
    background-color: white;

    border: none;
    border-radius: 0.5rem;

    font-size: 1rem;
    color: rgb(18, 44, 62);

    &::placeholder {
      color: rgba(47, 62, 79, 0.398);
    }

    &:focus {
      outline: none;
      background-color: white;
    }

    &:focus::placeholder {
      color: white;
    }
  }

  button {
    border-radius: 0.5rem;
    background-color: transparent;
    border: none;
    text-align: center;

    transition: 0.4s;
  }
}

.title {
  text-align: center;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.828);
}

.names {
  padding: 1rem 2rem;
  margin: 0.8rem 3rem;

  background-color: white;
  box-shadow: 8px 8px 0 rgb(163, 203, 255);
  border-radius: 0.6rem;

  color: rgb(27, 34, 58);
  line-height: 2rem;
  font-weight: 600;
  font-size: 1.2rem;
}
