*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

body {
  background: url("https://techterms.com/img/xl/server_129.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
}
